/* #header{
    color: aqua;
    background-color: brown;
    padding: 80px 0;
    text-align: center;
}
@media screen and (max-width:480px) {
    .btn{
        display: block;
        font-size: 18px;
    }

    h1{
        font-size: 32px;
        margin: 0 0 8px 0;
    }
    h2{
        font-size: 18px;
    }
    section{
        padding: 25px 0 15px 0;

    }
    .feature{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: left;
        margin: 0 0 10px 0;
        font-size: 16px;
    }
    .feature img{
        width: 15%;
        min-width: 60px;
        margin-right: 20px;
    }
    .container{
        display: flex;
        align-items: stretch;
    }
    .container div {
        flex: 1;
    }

    .quote{
        padding: 30px 0 ;
    }

    blockquote p{
        font-size: 18px;
    }
    blockquote cite {
        font-size: 14px;
    }

    footer{
        padding: 30px 0 10px 0;
    }
    footer li{
        display: block;
        margin: 5px 0;
    }
}

.container{
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}
h1{
    font-size: 48px;
    margin: 0 0 16px 0 ;
}
h2{
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 16px 0 ;
}

.btn{
    display: inline;
    color: darkseagreen;
    font-weight: 500;
    font-size: 20px;
    border: none;
    background: salmon;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background: seagreen;
}
section{
    padding: 40px 0;
    text-align: center;
}

.features{
    background-color: cadetblue;
    color: chocolate;
  
}
.feature{
    width: 32%;
    display: inline-block;
    font-size: 16px;
}
.feature img{
    width: 40%;
}




.quote{
    background: chocolate;
    color: darkgreen;
}
blockquote{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

blockquote p {
    font-size: 24px;
    margin: 0 0 5px 0;
}

blockquote cite{
    font-size: 16px;
    font-style: italic;
}
blockquote cite::before{
    content: "-";
    margin-right: 5px;
}



.footer{
    background: darkolivegreen;
    text-align: center;
    padding: 32px 0;
    color: darkorchid;
}

footer ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer li{
    display: inline-block;
}
footer a{
    padding: 6px;
    font-size: 16px;
    text-decoration: none;
    color: seashell;
}
footer a:hover{
    color: sienna;
} */

/* new-wedsite */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* body{
    min-height: 1000px;
} */

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
    display: flex;
    transition: 0.5s;
}

header .sticky{
 
    background: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .sticky .logo{
    color: black;
}
header .sticky .navigation li a{
    color: black;
}
header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
 header .logo span{
     color: red;
 }

 header .navigation , section  .navigation{
     display: flex;
     position: relative;
 }

header .navigation li , section  .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation a , section  .navigation a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

header .navigation li a:hover ,
section  .navigation li a:hover{
   
    color: rgba(209, 25, 25, 0.856);
    font-weight: bolder;
    
    
}


p{
    font-weight: 200;
}
.banner{
    position: relative;
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(./images/Optimized-bg.jpg);
    background-size: cover;

}
.banner .content{
    text-align: center;
    max-width: 900px;
}
.banner .content h2{
    font-size: 5em;
    color: white;
}
.banner .content p{
    font-size: 1em;
    color: white;
}
.btn{
    font-size: 1em;
    display: inline-block;
    background: rgb(22, 160, 22);
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover {
    letter-spacing: 6px;
}


section{
    padding: 100px;
}
.row{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    width: 48%;
    position: relative;
}

.titletext{
    color: black;
    font-size: 2em;
    font-weight: 300;
}
.titletext span{
    font-weight: 600;
    color: rgb(22, 160, 22);
    font-size: 1.5em;
}

.row .col50 .imgbox{
    /* min-height: 300px; */
    height: 100%;
    width: 100%;
    position: relative;
}

.row .col50 .imgbox img{
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
}



.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:40px ;
}

.menu .content .box{
width: 340px;
margin: 20px;
border: 15px solid white;
box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgbox{
    width: 100%;
    height: 300px;
    position: relative;
}

.menu .content .box .imgbox:hover{
    height: 310px;
}
.menu .content .box .imgbox img{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text {
    text-align: center;
    padding-top: 10px;
}
.menu .content .box .text h3{
    font-weight: 400;
}


.expert .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.expert .content .box{
    margin: 15px;
    width: 250px;
}

.expert .content .box .imgbox{
    width: 100%;
    height: 300px;
    position: relative;
}
.expert .content .box .imgbox img{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.expert .content .box .text{
    text-align: center;
    padding-top: 10px;
}
.expert .content .box .text h3{
    font-weight: 400;
}

#para{
    text-align: center;
}
.test{
    background: url(./images/bg2.jpg);
    background-size: cover;
}

.white .titletext,
.white p {
    color: white;
}

.test .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.test .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test .content .box .imgbox{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.test .content .box .imgbox img{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test .content .box .text{
    text-align: center;
}
.test .content .box .text p {
    color: #666;
    font-style: italic;
}

.test .content .box .text h3{
    margin-top: 20px;
    color: rgb(2, 78, 2);
    font-size: 1em;
    font-weight: 600;
}




.contact{
    background: url(./images/bg3.jpg);
    background-size: cover;
}
.contactform{
    padding: 75px 50px;
    background: white;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.2em;
}

.contactform .inputBox{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.contactform .inputBox input ,
.contactform .inputBox textarea
{
    width: 100%;
    border:1px solid #555;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

#submit
{
    font-size: 1em;
    color: black;
    background: rgb(2, 78, 2) ;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    transition: 0.5s;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.copyright{
    padding: 8px 40px ;
    border-top: 1 solid rgba(0, 0, 0, 0.1) ;
    text-align: center;
}

.copyright p {
    color: #333;
}
.copyright a{
    color: rgb(189, 5, 5) ;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width:991px)
{
    header,
    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        display: flex;
        width: 100%;
        height: cal (100% - 68px);
        position: fixed;
        left: 0;
        top: 68px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
    }

    header .navigation li{
      margin-left: 0px;
    }

    header .navigation li a{
       color: black;
       font-size: 1.6em;
    }
    .menutoggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menutoggle.active{
        background: url(./images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        /* cursor: pointer; */

    }

    section 
    {
        padding: 20px;
    }

    .banner .content h2{
        color: white;
        font-size: 3em;
    }

    .row{
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgbox{
        margin-top: 20px;
        height: 300px;
    }

    .menu .content{
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 10px;
    }
    .menu .content .box .imgbox {
       height: 260px;
    }
    .title{
        text-align: center;
    }

    .titletext{
        color: #111;
        font-size: 1.8em;
        line-height: 1.5em;
        font-weight: 300;
        margin-bottom: 15;
   
    }

    .test .content .box{
        margin: 10px;
        padding: 20px;
    }
    
    .contactform{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width:480px)
{

    .banner.content h2{
        font-size: 2.2em;
        color: white;
    }
}


.card{

    transform-style: preserve-3d;
}
.card .face {
  
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0);
    border-radius: 5px;
}



.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.card .face.Back{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(12, 197, 83);
    color: white;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.Back{
   
    transform: perspective(500px) rotateY(360deg);
}


/* page2 */
.HealthBanner{
    position: relative;
    width: 100%;
    display: flex;
    min-height: 79.4vh;
    align-items: center;
    justify-content: center;
    background: url(./images/work.jpg);
    background-size: cover;

}


#myHeader{
    /* position: fixed; */
  
    width: 100%;
     padding: 40px 70px; 
     padding-left: 480px;
   font-size: 2.2em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* display: flex; */
    transition: 0.5s;
    background: rgb(58, 163, 58);
}
#Thanks{
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: rgb(58, 163, 58);
}
